:root{
    /* Neutrals */

    --neutral-900: #121212;
    --neutral-800: #262626;
    --neutral-500: #717178;
    --neutral-400: #949497;
    --neutral-0: #FFFFFF;

    /* Blue */

    --blue-600: #177DFF;
    --blue-400: #4CA6FF;

    /* Red */

    --red-500: #D64D5B;

    /* Green */

    --green-500:#4DD67B;

    /* Yellow */

    --yellow-400: #F4DC73;
}